#trading-card {
  width: 300px;
  border: 5px outset silver;
  border-radius: 10px;
}

.picture {
  width: 300px;
  height: 200px;
}

.trading-card-information {
  border: 5px solid white;
}

.interesting-facts {
  font-style: italic;
}

.official-name {
  list-style-type: none;
}

.gender {
  list-style-type: none;
}

.age{
  list-style-type: none;
}

.lifespan{
  list-style-type: none;
}

.label{
  font-weight: bold;
}

.label-2{

}

.label-3{

}

.label-4{

}

.description {

}
